@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Comfortaa:wght@300&family=Lobster&display=swap');

$color_title : green;


.Calendar{

    margin: auto;
    max-width: 60%;
    margin-top: 5vh;
    height: 100%;
  

}

h1{
    font-size: 3em;
    margin: 0px;
}

h2{
  margin: 0;
  margin-bottom: 2vh;
    font-size: 1.3em;
    font-weight: 900;
    text-decoration: underline;
}

h3{
    margin: 0px;
    font-size: 1.527em;
    font-weight: 100;
}

body{
  font-family: Comfortaa;

}


.title {
  text-align:center;
};


.topSideCalendar{


  display: grid;
  grid-template-columns:repeat(7,1fr);

max-width: 100%;
margin: auto;

}


.topSideCalendar>img{

  grid-row-start:1;
  grid-column-start: 7;
  width: 6vw;
  height: auto;

}



.blockContainer{
padding: 3vh;

display: grid;
grid-template-columns: repeat(7,1fr);
gap: 1.5vh;

border: 2px solid black;

}






.blockContainer > div > p{


display: flex;
justify-content: center;
font-weight: 900;
text-align: center;


}





.pastDay{
  background-color: black;
  color: white;
  width: 6vh;
  height: 6vh;
  position: relative;
  text-align: center;
    justify-self: center;
  
}

.months {

  margin-top: 100px;
  display: block;
  border: 2px solid black;
  padding: 1.5vh;
  text-align: center;
  letter-spacing: 5px;


}

.today{

  position: relative;
  justify-self: center;
   box-sizing: border-box;
  width: 6vh;
  height: 6vh;
  border-radius: 100%;
  text-align: center;
  border: 1.5px solid green;
  // animation-name: appearDisappear;
  // animation-duration: 2s;
  // animation-iteration-count: infinite;
  // font-weight: 900;
  background-color: white

}

// .today::before{
//   position: absolute;

//   top: -1px;
//   left: -1px;
//   content: '';
//   width: 6.3vh;
//   height: 6.3vh;
//   background: linear-gradient(rgb(0, 0, 0),rgb(192, 192, 192),rgb(37, 37, 37));
//   z-index: -1;
//   border-radius: 100%;
//   opacity: .9;
//   animation: iconRotation;
//   animation-duration: 1.5s;
//   animation-iteration-count: infinite;
//   animation-delay: 0s;
// }






.futureDay{

  justify-self: center;
  border-bottom: 1px solid black;
  color: black;
  width: 6vh;
  height: 6vh;
  box-sizing: border-box;
  text-align: center;
  font-weight: 900;

}


.nextMicrodosingDaysWrapper{

  margin-top: 100px;
}


 .nextMicrodosingDaysWrapper > div >div  >p{
font-size: 0.9em;


  

 }

  .nextMicrodosingDaysWrapper > h2{

    line-height: 200%;
  

 }




.bottomSideCalendar{

  margin: auto;
  margin-top: 10vh;
  max-width: 95%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  



}

.routineDayWrapper{

margin: auto;


  
}

.routineDayWrapper > button{

font-family: Comfortaa;
padding: 10px;
width: 100%;
border-radius: 10px;
margin-top: 5vh;
background-color: white;
font-size: 12pt;
font-weight: 600;
}


.routineDayWrapper >div >p{


font-weight: 900;
  
}



.bottomSideCalendar > div > p{
  
margin: 0px;
font-size: 4vw;
text-align: center;
}

.bottomSideCalendar > div> div > p{
  
margin: 0px;
font-size: 2vw;
text-align: center;
}


.settingIcon{

width: 90px;
height: 90px;
fill: black;
grid-row-start:1;
grid-column-start: 7;
}


.settingIcon:hover {

fill: grey;
animation: iconRotation;
animation-duration: 3s;
animation-iteration-count: infinite;
}







@keyframes appearDisappear{

from {
  background-color: yellow;
  
  }
to {
  background-color: white;
  }

}



@keyframes iconRotation{
  from {transform: rotate(0deg);}
   to {transform: rotate(360deg);}

}



@media(max-width:800px) {


  .blockContainer{
padding: 3vh;
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 1vh;
border: 2px solid black;
font-size: 12pt;

}


.bottomSideCalendar > div > p{
  
margin: 0px;
font-size: 30pt;
text-align: center;
}



.bottomSideCalendar > div > div > p {
    margin: 0px;
    font-size: 26pt;
    text-align: center;
}

  
}